h1{
    margin-left: 67%;
}

.cabezera{
    padding-top: 25px;
}

.cont{
    color: white;
    margin-top: 50px;
    height: 90%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #564241c7;
    padding: 0px;
}

.items:first-child{
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

.items:last-child{
    border-top: 1px solid rgb(255, 255, 255);
}

p{
    margin: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.items{
    text-align: justify;
}


footer{
    margin-top: 25px;
}

.btn-modal{
    display: flex;
    background-color: rgba(112, 111, 111);
    border: 1px inset rgba(112, 111, 111);
}

.btn-modal:hover{
    cursor: pointer;
    background-color: rgba(85, 85, 85);
    border:1px outset rgba(112, 111, 111);
    scale: 1.2;
}

.btn-modal:active{
    background-color:rgba(85, 85, 85);
    scale: 1.0;
}

.items-modal{
    margin: 0px;
    padding: 25px;
}


.items-modal{
    border-bottom: 1px solid black;
}

.items-modal:last-child{
    border-bottom: none;
}

.item-box-modal{
    border: 1px solid black;
    padding: 0px;
    border-radius: 20px;
    background-color: rgba(49, 48, 49, 0.205);
}