body{
    background-image: url(images/379773.jpg);
    background-size: cover;
}

.nvr-box{
    background-color:#594c55d6;
}

.form-box{
    background-color: #594c55d6;
    box-shadow: 5px 5px 10px 3px rgb(0, 0, 0);
}

.btn-form{
    background-color:#580205;
    border: none;
}

.btn-form:hover{
    background-color:#420204;
    scale: 1.2;
}

.btn-form:active{
    background-color:#420204 !important;
    scale: 1;
}

.ftr-box{
    background-color:#594c55d6;
}

.nav-text{
    color: white;
}