body{
    background-image: url(images/379773.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center calc(50% - 20px);
}

.nav-text{
    color: black;
}

.form-box{
    background-color: #594c55d6;
    box-shadow: 5px 5px 10px 3px rgb(0, 0, 0);
}

.btn-form{
    background-color:#580205;
    border: none;
}

.btn-form:hover{
    background-color:#420204;
    scale: 1.2;
}

.btn-form:active{
    background-color:#420204 !important;
    scale: 1;
}

.ftr-box{
    background-color:#594c55d6;
}


@media (max-width: 1200px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 30em; 
        height: auto;
    }
}
@media (max-width: 992px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 22em; 
        height: auto;
    }
}

@media (max-width: 767px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive {
        max-width: 33.2em; 
        height: auto;
    }
}




@media (max-width: 1200px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive2 {
        max-width: 28em; 
        height: auto;
    }
}
@media (max-width: 992px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive2 {
        max-width: 22em; 
        height: auto;
    }
}

@media (max-width: 767px) {
    .col-sm-12.col-md-6.col-lg-6 .responsive2 {
        max-width: 33.2em; 
        height: auto;
    }
}